body {
    background-color: rgb(255, 245, 238);
}

.pImg {
    max-width:5%;
    max-height:auto;
}

a:visited {
    color:none;
}

a {
    color:#D44D5C;
}

.splash {
    max-width:50%;
    max-height:auto;
    padding: 10px;
}

#navExternal {
    float:right;

}

#navExternal a{
    display: block;
    padding: 10px;
    text-decoration: none;
}

#navExternal a:hover{
    color: #7B6B43;
}

.externalIcon {
    max-width:16px;
    max-height:auto;
}

#content {
  margin-left: auto;
  margin-right: auto;
  width: 650px;
  padding-left: auto;
  padding-right: auto;
}

#greeting-container {
  margin-top: 20px;
}

.images img {
    max-width:400px;
    max-height:auto;
}