@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    background-color: rgb(255, 245, 238);
    font-family: 'Roboto', sans-serif;
}

.pImg {
    max-width:5%;
    max-height:auto;
}

a:visited {
    color:none;
}

a {
    color:#D44D5C;
}

.splash {
    max-width:50%;
    max-height:auto;
    padding: 10px;
}

#navExternal {
    float:right;

}

#navExternal a{
    display: block;
    padding: 10px;
    text-decoration: none;
}

#navExternal a:hover{
    color: #7B6B43;
}

.externalIcon {
    max-width:16px;
    max-height:auto;
}

#content {
  margin-left: auto;
  margin-right: auto;
  width: 650px;
  padding-left: auto;
  padding-right: auto;
}

#greeting-container {
  margin-top: 20px;
}

#images {
    text-align:center;
}
#images img, .images img { /* Class returns an error? */
    max-width:400px;
    max-height:auto;
    display:block;
    margin-left:auto;
    margin-right:auto;
    padding: 10px;
}

