body {
    background-color: seashell;
}

.pImg {
    max-width:10%;
    max-height:auto;
}

.splash {
    max-width:50%;
    max-height:auto;
    padding: 10px;
}

#content {
  margin-left: auto;
  margin-right: auto;
  width: 650px;
  padding-left: auto;
  padding-right: auto;
}

#greeting-container {
  margin-top: 20px;
}
